@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
  
    <h1>Welcome to Music On Demand</h1>
    <p class="lead">Type your query in the text box, click search and discover music. </p> 
           @* <p align = left> @Html.TextBox("search") <a href="http://asp.net" class="btn btn-primary btn-large">Search &raquo;</a> </p>

           <input type="text" name="Ime" data-val="true" data-val-required="required" />
        @Html.TextBox("search", "", new {@id="search-textbox"})

    *@
    @using(Html.BeginForm("Index","Search",FormMethod.Post))
    {
       

        <input type="text" name="q" id="search-textbox" />
        <input type="submit" class=" btn btn-primary btn-large" />
        
    }
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>